body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: bold;
    background-color: #448aff;
}

h1{
    color: #120bda;
    font-size: 60px;
    margin: 15px 0;
}

.container {
    margin: 0 auto;
    width: 650px;
    background-color:#ffffff;
    padding: 10px;
    border-radius: 10px;
    margin-top: 100px;
}

.stopwatch_display{
    font-size: 150px;
    padding: 10px;
    border: 0px solid #000;
    margin-bottom: 10px;
    border-radius: 5px;
    justify-content: space-around;
    padding: 40px 0;
    box-shadow: 0 0 20px rgba(0, 139, 253, 0.25);
    background-color: #ffffff;
    color: #0381bb;
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.btn{
    margin: 5px;
    padding: 10px 25px;
    font-size: 25px;
    cursor: pointer;
    background-color: #205e94;
    color: #ffffff;
    border: none;
    outline: none;
    border-radius: 5px;
    letter-spacing: 3px;
}

.buttons button:nth-last-child(2){
    background-color: #d23332;
}

.buttons button:nth-last-child(1){
    background-color:#20b380;
}

.lap_times {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: #303bb2;
}